//cores:
$roxo-escuro:#241B35;
$roxo-03:#342A45;
$roxo-02:#4D425F;
$roxo-01:#6C35DE;
$roxo-claro:#A364FF;
$pink:#FFC7FF;
$purple:#CB80FF;
$branco-gelo:#f1f1f1;
$branco:#f4f4f4;
$preto:#040404;
$preto-01:#373737;
