@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300,400;500;600;700&display=swap');


*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: .05rem;
}
a{
  text-decoration: none;
}
ul, ol{
  list-style: none;
}
